<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link href="../style.css" rel="stylesheet">
    <script async="async" src="https://arc.io/widget.min.js#x2EhNawj"></script>
</head>
<body background="{background}">
<ul class="ul">

    <li style="float:left" class="li"><a class="active" href="/index.php#info">About</a></li>
    <li style="float:left" class="li"><a href="/mctool/index.php">Tools</a></li>
    <li style="float:right" class="li"><a href="/admin.php" class="admin">Admin</a></li>
    <li style="float:left" class="li"><a href="/blogposts.php">Blog</a></li>
</ul>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8556006122224174"
        crossorigin="anonymous"></script>
<!-- blogpage1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8556006122224174"
     data-ad-slot="3901172944"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8556006122224174"
        crossorigin="anonymous"></script>
<!-- blogpage2 -->
<ins class="adsbygoogle"
     style="display:block; float: left"
     data-ad-client="ca-pub-8556006122224174"
     data-ad-slot="5952621218"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<center>
    <div class="shadow_white first" style="{borders}">
        <h1 style="float: left; {text}">{title}</h1>
        <br><br><hr>
        <div style="float: left; {text}"><h5>Posted on {date}</h5></div><br><br>
        <div style="{text}">{content}</div>
    </div>
</center>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8556006122224174"
        crossorigin="anonymous"></script>
<!-- blogpage3 -->
<ins class="adsbygoogle"
     style="display:block;float: right"
     data-ad-client="ca-pub-8556006122224174"
     data-ad-slot="9424607145"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>